<launch>
<!-- Launch file for Localization -->

	<arg name="rviz" default="true" />

	<!-- <rosparam command="load" file="$(find fast_lio3)/config/avia.yaml" /> -->
	<!-- <rosparam command="load" file="$(find fast_lio3)/config/horizon.yaml" /> -->
    <!-- <rosparam command="load" file="$(find fast_lio3)/config/velodyne.yaml" /> -->
    <!-- <rosparam command="load" file="$(find fast_lio3)/config/ouster64.yaml" /> -->
    <rosparam command="load" file="$(find fast_lio3)/config/localization_dev.yaml" />

	<param name="localization_mode" type="bool" value="true" />
    <node pkg="fast_lio3" type="fastlio_ros1" name="system" output="screen" /> 

	<group if="$(arg rviz)">
		<!-- glbal map-->
		<arg name="map" default="$(find fast_lio3)/PCD/globalmap.pcd" />
    	<node pkg="pcl_ros" type="pcd_to_pointcloud" name="map_publisher" args="$(arg map) 2 _frame_id:=map cloud_pcd:=map" output="screen" />

		<node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find fast_lio3)/rviz_cfg/localization.rviz" />
	</group>

</launch>