<launch>
<!-- Launch file for map stitch -->

	<arg name="rviz" default="true" />

    <rosparam file="$(find fast_lio_sam)/config/map_stitch.yaml" command="load" />

	<param name="globalMapVisualizationPoseDensity" type="double" value="3" />
	<param name="globalMapVisualizationLeafSize" type="double" value="0.2" />

    <node pkg="fast_lio_sam" type="map_stitch" name="system" output="screen" /> 

	<group if="$(arg rviz)">
		<node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find fast_lio_sam)/rviz_cfg/map_stitch.rviz" />
	</group>

</launch>